$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);

$gray: hsl(0, 0%, 60%);
$lighter-gray: hsl(0, 0%, 98%);
$light-gray: hsl(0, 1%, 80%);
$dark-gray: hsl(0, 0%, 50%);
$darker-gray: hsl(0, 0%, 20%);

$Lime-Green: hsl(136, 65%, 51%);

$Dark-Blue: hsl(233, 26%, 24%);
$gray-blue: hsl(233, 8%, 62%);
$Light-Grayish-Blue: hsl(220, 79%, 96%);
$Bright-Cyan: hsl(192, 70%, 51%);