@keyframes moveInDown {
  0% {
    opacity: 0;
    transform: translateY(-2rem); }
  80% {
    opacity: 1;
    transform: translateY(1.2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px); }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px); }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px); }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: inherit; }

body {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.text__primary {
  font-size: 1.8rem;
  color: gray; }
  @media only screen and (max-width: 56.25em) {
    .text__primary {
      font-size: 2rem; } }

.text__secondary {
  font-size: 1.5rem;
  color: gray; }

.heading__secondary {
  font-size: 3rem;
  color: #2d314d; }

.heading__tertiary {
  font-size: 1.5rem;
  color: #2d314d; }

.u-center {
  text-align: center; }

.u-margin-bottom {
  margin-bottom: 2rem; }

.u-margin-bottom-big {
  margin-bottom: 4rem; }

.u-margin-top {
  margin-top: 4rem; }

.u-margin-top-small {
  margin-top: 2rem; }

.u-margin-top-big {
  margin-top: 6rem; }

.article {
  max-width: 120rem;
  margin: auto; }
  @media only screen and (max-width: 56.25em) {
    .article {
      max-width: 90rem; } }
  @media only screen and (max-width: 28.125em) {
    .article {
      max-width: 40rem; } }
  .article__box {
    height: auto;
    background-color: white;
    border-radius: 1rem;
    transition: all .4s;
    position: relative; }
    @media only screen and (max-width: 28.125em) {
      .article__box h2 {
        font-size: 2.2rem; } }
    @media only screen and (max-width: 28.125em) {
      .article__box p {
        font-size: 1.7rem; } }
    .article__box:hover {
      transform: scale(1.1); }
    .article__box:hover .article__img--pic {
      filter: blur(0.3rem) brightness(80%); }
    .article__box:hover .article__img--btn {
      opacity: 1;
      top: 30%; }
  .article__img--pic {
    height: 20rem;
    width: 100%;
    border-radius: 1rem 1rem 0 0; }
    @media only screen and (max-width: 28.125em) {
      .article__img--pic {
        height: 30rem; } }
  .article__img--btn {
    display: flex;
    align-items: center;
    border: 0;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    opacity: 0;
    cursor: pointer;
    transition: all .9s; }
    .article__img--btn--icon {
      height: 3rem;
      width: 3rem;
      transition: all .4s; }
    .article__img--btn span:not(:last-child) {
      margin-right: .5rem; }
  .article__text {
    padding: 1rem; }
    .article__text--author {
      font-weight: 700;
      color: #cdcbcb; }
    .article__text--quote {
      color: #2d314d;
      font-size: 1.5rem; }
    .article__text--brief {
      font-size: 1.2rem;
      font-weight: 700;
      color: #cdcbcb; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  color: white;
  background-image: linear-gradient(to right, #31d35c, #2bb7da);
  padding: 1.5rem 4rem;
  border-radius: 2.5rem;
  position: relative;
  transition: all 0.5s; }

.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 3rem;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #31d35c, #2bb7da);
  transition: all 0.4s; }

.btn:hover::after {
  transform: scaleX(1.5) scaleY(1.8);
  opacity: 0; }

.btn:hover {
  opacity: .8;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active {
  opacity: .5;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); }

.why {
  max-width: 120rem;
  margin: auto; }
  @media only screen and (max-width: 56.25em) {
    .why {
      max-width: 90rem; } }
  @media only screen and (max-width: 28.125em) {
    .why {
      max-width: 40rem; } }
  @media only screen and (max-width: 28.125em) {
    .why__col {
      text-align: center; } }

.footer {
  max-width: 120rem;
  margin: auto;
  height: auto;
  transform: skewY(-1deg);
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      max-width: 90rem; } }
  @media only screen and (max-width: 28.125em) {
    .footer {
      max-width: 20rem; } }
  .footer__col-1-of-4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 8rem; }
  @media only screen and (max-width: 28.125em) {
    .footer__col-2-of-4 {
      margin-left: -28%;
      margin-top: 2rem; } }
  @media only screen and (max-width: 28.125em) {
    .footer__col-3-of-4 {
      margin-left: -28%;
      margin-bottom: 2rem;
      margin-top: -.5rem; } }
  .footer img {
    height: 1.5rem; }
  .footer__media {
    display: block; }
    .footer__media--links:link, .footer__media--links:visited {
      text-decoration: none;
      display: inline-block; }
      .footer__media--links:link:not(:last-child), .footer__media--links:visited:not(:last-child) {
        margin-right: 1rem; }
    .footer__media--links:hover {
      animation: hvr-wobble-vertical 1s ease-in; }
  .footer__items {
    display: block;
    list-style: none; }
    @media only screen and (max-width: 28.125em) {
      .footer__items {
        text-align: center; } }
  .footer__lists {
    display: block; }
    .footer__lists:not(:last-child) {
      margin-bottom: 1.5rem; }
    .footer__lists--links:link, .footer__lists--links:visited {
      display: inline-block;
      text-decoration: none;
      color: white;
      font-size: 1.2rem;
      font-weight: 700; }
  .footer__col-4-of-4 {
    position: absolute;
    right: 0; }
    .footer__col-4-of-4 p {
      color: gray;
      font-size: 1.2rem;
      font-weight: 700; }
    @media only screen and (max-width: 28.125em) {
      .footer__col-4-of-4 {
        position: relative;
        bottom: -3rem;
        right: -2rem;
        width: 25rem; } }
  .footer__btn {
    margin-left: 3rem;
    margin-bottom: 3rem; }
    @media only screen and (max-width: 28.125em) {
      .footer__btn {
        margin-left: 1.5rem; } }

.attribution {
  font-size: 11px;
  font-weight: 700;
  text-align: center;
  padding: 2rem 0;
  margin-top: -1rem;
  background-color: #2d314d; }
  .attribution > * {
    transform: skewY(-1deg); }
  .attribution a {
    color: #3e52a3; }

.why__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 2rem; }
  @media only screen and (max-width: 56.25em) {
    .why__grid {
      grid-template-columns: 1fr 1fr; } }
  @media only screen and (max-width: 28.125em) {
    .why__grid {
      grid-template-columns: 1fr;
      row-gap: 5rem;
      place-items: center; } }

.article__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 2.5rem; }
  @media only screen and (max-width: 56.25em) {
    .article__grid {
      grid-template-columns: 1fr 1fr; } }
  @media only screen and (max-width: 28.125em) {
    .article__grid {
      grid-template-columns: 1fr;
      row-gap: 5rem;
      place-items: center; } }

.footer__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 4.5rem;
  place-items: center; }
  @media only screen and (max-width: 28.125em) {
    .footer__grid {
      grid-template-columns: 1fr;
      place-items: center; } }

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10%;
  height: 6rem;
  font-weight: 400;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200; }
  @media only screen and (max-width: 28.125em) {
    .header__btn {
      display: none; } }

.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
  height: 125vh;
  max-width: 136rem;
  margin: 0 0 0 auto; }
  @media only screen and (max-width: 75em) {
    .home {
      max-width: 120rem; } }
  @media only screen and (max-width: 56.25em) {
    .home {
      max-width: 93rem; } }
  @media only screen and (max-width: 28.125em) {
    .home {
      background-image: url(../images/bg-intro-mobile.svg) !important;
      min-height: 100%;
      background-repeat: no-repeat;
      background-size: 60rem 60rem;
      background-position: 60% 0%;
      display: block;
      top: 0;
      height: 100vh; } }
  .home__text {
    max-width: 40rem;
    position: absolute; }
    @media only screen and (max-width: 28.125em) {
      .home__text {
        bottom: 1%;
        left: 4.5rem; } }
    .home__text--heading {
      font-size: 5rem;
      color: #2d314d;
      animation: moveInUp 1s ease-in; }
      @media only screen and (max-width: 28.125em) {
        .home__text--heading {
          font-size: 4.5rem; } }
    .home__text p {
      animation: moveInUp 1s ease-in 0.5s backwards; }
  .home__bg {
    position: absolute;
    right: -40rem; }
    @media only screen and (max-width: 28.125em) {
      .home__bg {
        position: absolute;
        left: 10rem !important; } }
    .home__bg--intro {
      height: 90rem;
      width: 130rem;
      margin-top: -27rem; }
      @media only screen and (max-width: 75em) {
        .home__bg--intro {
          height: 80rem;
          width: 110rem; } }
      @media only screen and (max-width: 56.25em) {
        .home__bg--intro {
          height: 90rem;
          width: 105rem;
          margin-top: -40rem; } }
      @media only screen and (max-width: 37.5em) {
        .home__bg--intro {
          height: 0rem;
          width: 0rem; } }
      .home__bg--intro__pic {
        width: 100%;
        height: 100%; }
        @media only screen and (max-width: 28.125em) {
          .home__bg--intro__pic {
            display: none; } }
    .home__bg--subIntro {
      height: 100rem;
      width: 85rem;
      position: absolute;
      top: -18rem;
      right: 25rem; }
      @media only screen and (max-width: 75em) {
        .home__bg--subIntro {
          height: 80rem;
          width: 65rem;
          top: -20.5rem;
          right: 27rem; } }
      @media only screen and (max-width: 56.25em) {
        .home__bg--subIntro {
          height: 70rem;
          width: 55rem;
          top: -36.5rem;
          right: 30.5rem; } }
      @media only screen and (max-width: 37.5em) {
        .home__bg--subIntro {
          height: 58rem;
          width: 45rem;
          top: -8.8rem;
          right: 53%;
          translate: -50%, 50%; } }
      .home__bg--subIntro__pic {
        width: 100%;
        height: 100%; }
        @media only screen and (max-width: 28.125em) {
          .home__bg--subIntro__pic {
            animation: moveInDown 1s ease-in-out; } }
  .home__btn {
    margin-left: 25%;
    font-size: 1.2rem;
    font-weight: 700;
    animation: moveInUp 1s ease-in 1.5s backwards; }
    @media only screen and (max-width: 28.125em) {
      .home__btn {
        margin-top: 3.5rem; } }

.navigation {
  height: 100%; }
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    display: none; }
    @media only screen and (max-width: 28.125em) {
      .navigation__button {
        display: block;
        background-color: white;
        height: 8rem;
        width: 8rem;
        top: .7rem;
        right: .2rem;
        transform: scale(0.6);
        position: fixed;
        border-radius: 50%;
        text-align: center;
        z-index: 2000;
        cursor: pointer; } }
  .navigation__background {
    display: none; }
    @media only screen and (max-width: 28.125em) {
      .navigation__background {
        display: block;
        height: 6rem;
        width: 6rem;
        position: fixed;
        top: .92rem;
        right: 1rem;
        transform: scale(0.5);
        z-index: 1000;
        opacity: 0;
        transition: all 0.4s cubic-bezier(0.85, 0, 0.15, 1); } }
  @media only screen and (max-width: 28.125em) {
    .navigation__nav {
      height: 90vh;
      position: fixed;
      top: 8rem;
      right: 0;
      z-index: 1500;
      width: 0;
      opacity: 0;
      background-image: linear-gradient(rgba(45, 49, 77, 0.95), rgba(237, 242, 253, 0.1));
      transition: all 0.4s cubic-bezier(0.5, 1, 0.89, 1); } }
  .navigation__items {
    display: flex;
    list-style: none;
    text-align: center;
    margin-left: -4rem;
    overflow: hidden;
    height: 92%; }
    @media only screen and (max-width: 28.125em) {
      .navigation__items {
        display: block;
        position: absolute;
        top: 25%;
        left: 58.4%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
        width: 75%;
        height: 35rem;
        border-radius: 1rem;
        background-color: white; } }
  .navigation__lists {
    display: inline-block;
    height: 4.4rem;
    margin-top: .8rem; }
    .navigation__lists:not(:last-child) {
      margin-right: 3rem; }
    .navigation__lists:hover {
      border-bottom: 3.5px solid #31d35c; }
    @media only screen and (max-width: 28.125em) {
      .navigation__lists {
        display: block;
        position: relative;
        top: 15%;
        left: 40%;
        transform: translate(-50%, -50%); } }
  .navigation__links, .navigation__links:link, .navigation__links:visited {
    text-decoration: none;
    color: #cdcbcb; }
  .navigation__links:hover {
    color: black; }
  @media only screen and (max-width: 28.125em) {
    .navigation__links:link, .navigation__links:visited {
      display: block;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: black;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
      background-size: 230%;
      transition: all .4s; }
    .navigation__links:hover, .navigation__links:active {
      background-position: 100%;
      color: #31d35c;
      transform: translateX(2rem); } }
  @media only screen and (max-width: 28.125em) {
    .navigation__checkbox:checked ~ .navigation__background {
      transform: scale(80);
      opacity: 1; }
    .navigation__checkbox:checked ~ .navigation__nav {
      width: 100%;
      opacity: 1; }
    .navigation__icon {
      position: relative;
      margin-top: 3.5rem; }
      .navigation__icon, .navigation__icon::before, .navigation__icon::after {
        width: 3rem;
        height: 2pX;
        background-color: #333333;
        display: inline-block; }
      .navigation__icon::before, .navigation__icon::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all .1s; }
      .navigation__icon::before {
        top: -.8rem; }
      .navigation__icon::after {
        top: .8rem; }
    .navigation__button:hover .navigation__icon::before {
      top: -1rem; }
    .navigation__button:hover .navigation__icon::after {
      top: 1rem; }
    .navigation__checkbox:checked + .navigation__button .navigation__icon {
      background-color: transparent; }
    .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
      top: 0;
      transform: rotate(135deg); }
    .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
      top: 0;
      transform: rotate(-135deg); } }

.home__section {
  background-color: #fafafa; }

.why__section {
  padding: 15rem 0;
  background-color: #edf2fd;
  margin-top: -17rem;
  width: 100%; }
  @media only screen and (max-width: 28.125em) {
    .why__section {
      margin-top: 0;
      padding: 8rem 0; } }

.article__section {
  padding: 10rem 0;
  background-color: #fafafa;
  margin-top: -5rem;
  transform: skewY(-3deg); }
  .article__section > * {
    transform: skewY(3deg); }
  @media only screen and (max-width: 28.125em) {
    .article__section {
      padding: 8rem 0; } }

.footer__section {
  padding: 10rem 0;
  margin-top: -4rem;
  background-color: #2d314d; }
