body {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: $Light-Grayish-Blue;
}
.text__primary {
    font-size: 1.8rem;
    color: $dark-gray;
}
.text__secondary {
    font-size: 1.5rem;
    color: $dark-gray;
}
.heading__secondary {
    font-size: 3rem;
    color: $Dark-Blue;
}

.heading__tertiary {
    font-size: 1.5rem;
    color: $Dark-Blue;
}