.why {
    max-width: 120rem;
    margin: auto;
    @include respond(tab-port) {
        max-width: 90rem;
    }
    @include respond(phone-port) {
        max-width: 40rem;
    }
    &__header--sec {
        
    }


    &__col {
        @include respond(phone-port) {
            text-align: center;
        }
    }
}