.home__section {
    background-color: $lighter-gray;
}
.why__section {
    padding: 15rem 0;
    background-color: $Light-Grayish-Blue;
    margin-top: -17rem;
    width: 100%;

    @include respond (phone-port) {
        margin-top: 0;
        padding: 8rem 0;
    }
}

.article__section {
    padding: 10rem 0;
    background-color: $lighter-gray;
    margin-top: -5rem;
    transform: skewY(-3deg);


    & > * {
        transform: skewY(3deg);
    }

    @include respond (phone-port) {
        padding: 8rem 0;
    }
}

.footer__section {
    padding: 10rem 0;
    margin-top: -4rem;
    background-color: $Dark-Blue;

    @include respond (phone-port) {

    }
}