.home__section {
    padding: 0 0 5rem 0;
    background-color: $lighter-gray;
}
.why__section {
    height: 35rem;
    padding: 8rem 0;
    background-color: $Light-Grayish-Blue;
    margin-top: -35rem;
}