.footer {
  max-width: 120rem;
  margin: auto;
  height: auto;
  transform: skewY(-1deg);
  position: relative;
  @include respond(tab-port) {
    max-width: 90rem;
}
@include respond(phone-port) {
  max-width: 20rem;
}

  &__col-1-of-4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
  }
  &__col-2-of-4 { 
    @include respond(phone-port) {
      margin-left: -28%;
      margin-top: 2rem;
    }
  }  
  &__col-3-of-4 { 
    @include respond(phone-port) {
      margin-left: -28%;
      margin-bottom: 2rem;
      margin-top: -.5rem;
    }
  }  
    img {
    height: 1.5rem;
  }
  &__media {
    display: block;
    &--links {
      &:link,
      &:visited {
        text-decoration: none;
        display: inline-block;
        &:not(:last-child) {
          margin-right: 1rem;
        }
      }

      &:hover {
        animation: hvr-wobble-vertical 1s ease-in;
      }
    }
  }

  &__items {
    display: block;
    list-style: none;

    @include respond(phone-port) {
      text-align: center;
    }
  }

  &__lists {
    display: block;
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
    &--links {
      &:link,
      &:visited {
        display: inline-block;
        text-decoration: none;
        color: $color-white;
        font-size: 1.2rem;
        font-weight: 700;
      }
    }
  }

  &__col-4-of-4 {
    position: absolute;
    right: 0;

    p {
      color: $dark-gray;
      font-size: 1.2rem;
      font-weight: 700;
    }

    @include respond(phone-port) {
      position: relative;
      bottom: -3rem;
      right: -2rem;
      width: 25rem;
    }
  }
  &__btn {
    margin-left: 3rem;
    margin-bottom: 3rem;

    @include respond(phone-port) {
      margin-left: 1.5rem;
  }
}
}

.attribution {
  font-size: 11px;
  font-weight: 700;
  text-align: center;
  padding: 2rem 0;
  margin-top: -1rem;
  & > * {
    transform: skewY(-1deg);
  }
  background-color: $Dark-Blue;
  & a {
    color: hsl(228, 45%, 44%);
  }
}
