.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:  relative;
    overflow: hidden;
    height: 125vh;
    max-width: 136rem;
    margin: 0 0 0 auto;
    @include respond(tab-land) {
        max-width: 120rem;
    }
    @include respond(tab-port) {
        max-width: 93rem;
    }
    @include respond(phone-port) {
        background-image: url(../images/bg-intro-mobile.svg) !important;
        min-height: 100%;
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-size: 60rem 60rem;
        background-position: 60% 0%;
        display: block;
        top: 0;
        height: 100vh;
    }

    
    &__text {
        max-width: 40rem;
        position: absolute;
        // top: 20rem;
        @include respond(phone-port) { 
            bottom:  10%;
            left: 4.5rem;
                }
        &--heading {
            font-size: 5rem;
            color: $Dark-Blue;
            animation: moveInUp 1s ease-in;

            @include respond(phone-port) { 
                font-size: 4.5rem;
                    }
        }

        p {
            animation: moveInUp 1s ease-in 0.5s backwards;
        }
    }

    &__bg {
        position: absolute;
        right: -40rem;
        @include respond(phone-port) {
            position: absolute;
            left: 10rem !important;
        }

        &--intro {
            height: 90rem;
            width: 130rem;
            margin-top: -27rem;

            @include respond(tab-land) {
                height: 80rem;
                width: 110rem;
            }
            @include respond(tab-port) {
                height: 90rem;
                width: 105rem;
                margin-top: -40rem;
            }
            @include respond(phone) {
                height: 0rem;
                width: 0rem;
            }
            
            &__pic {
                width: 100%;
                height: 100%;
                @include respond(phone-port) { 
                    display: none;
                }
            }
        }

        &--subIntro {
            height: 100rem;
            width: 85rem;
            position: absolute;
            top: -18rem;
            right: 25rem;

            @include respond(tab-land) {
                height: 80rem;
                width: 65rem;
                top: -20.5rem;
                right: 27rem;
            }
            @include respond(tab-port) {
                height: 70rem;
                width: 55rem;
                top: -36.5rem;
                right: 30.5rem;
            }
            @include respond(phone) {
                height: 58rem;
                width: 45rem;
                top: -8.8rem;
                right: 53%;
                translate: (-50%, 50%);
                // right: 41rem;
            }

            &__pic {
                width: 100%;
                height: 100%;
                @include respond(phone-port) { 
                    animation: moveInDown 1s ease-in-out;
                }
            }
        }
    }
    &__btn {
        margin-left: 25%;
        font-size: 1.2rem;
        font-weight: 700;
        animation: moveInUp 1s ease-in 1.5s backwards;
        @include respond(phone-port) { 
            margin-top: 3.5rem;
        }

    }
}